/* css reset */
*{
    margin: 0;
    padding: 0;
}
/* css variable */
:root{
    --navabar-height:59px;
}
/* navigation bar */
#navbar{
    position: absolute;
    display: flex;
    align-items: center;
    top: 0px;
    
}
/* logo and image */
#logo{

    margin: 10px 33px;

}
#logo img{
    margin: 3px 5px;
    height: 56px ;
}

#navbar ul{
    display: flex;
    font-family: 'Baloo Bhai 2', cursive;

}
#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;
}
#navbar ul li a{
    display: block;
    padding:  3px 34px;
    border-radius: 20px;
    text-decoration: none;
    color: white;
}
#navbar ul li a:hover{
    color: black;
    background-color: chartreuse;
}
#navbar ul li{
    color: white;
    list-style: none;
    font-size: 1.3rem;
}
/* home section */
#home{
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    justify-content: center;
    align-items: center;
    height: 624px;
    top: 0px;
    left: 0px;

}
#home::before{
    content: "";
    background:url('../img/pexels-rauf-allahverdiyev-3907151.jpg') no-repeat center center/cover;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 642px;
    width: 100%;
    z-index: -1;
    opacity: 0.4;
}
#home h1{
    color: white;
    text-align: center;
}
#home p{
    color: white;
    text-align: center;
}
/* servies section */
#services{
    margin: 34px;
    display: flex;

}
#services .box{
    border: 2px solid brown;
    padding: 23px;
    margin: 3px 6px;
    border-radius: 23px;
    background-color: rgb(231, 218, 218);
}
#services .box img{
    height: 106px;
    display: block;
    margin: auto;
}
#servies .box p{
    font-family: 'Baloo Bhai 2', cursive;

}
/* client section */
#client-section{
    position: relative;
    
}
#client-section::before{
    content: "";
    position: absolute;
    background:url('../img/pexels-rauf-allahverdiyev-3907151.jpg') ;
    
    height: 100%;
    width: 100%;
    opacity: 0.4;
    z-index: -1;
}
#clients{
    display: flex;
    justify-content: center;
    align-items: center;
}
#clients img{
    height: 124px;
}
.client-item{
    padding: 34px;
}
/* Contact section  */
#contact{
    position: relative;
}
#contact::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.7;
    background: url('../img/pexels-luca-sammarco-6162932.jpg') no-repeat center center/cover;
}
#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
}
#contact-box form{
    width: 40%;

}
#contact-box label{
    font-size: 1.3rem;
    font-family: 'Baloo Bhai 2', cursive;

}


#contact-box input,
#contact-box textarea{
    width: 100%;
    padding: 0.5rem;
    border-radius: 9px;
    font-size: 1.1rem;

}

footer{
    background: black;
    color: white;
    padding: 9px 3px;
}



/* utility class */
.h-primary{
    font-size: 2.8rem;
    padding: 12px;
    font-family: 'Baloo Bhai 2', cursive;

}
.h-secondary{
    font-size: 2.3rem;
    padding: 12px;
    font-family: 'Baloo Bhai 2', cursive;

}
.btn{
    padding: 6px 20px;
    bottom: 2px solid white;
    background-color: tomato;
    color: white;
    margin: 17px;
    border-radius: 10px;
    font-size: 1.0rem;
    cursor: pointer;

}
.center{
    text-align: center;
}

    















